:root {
  --bg-color: #28292d;
  --accent-1: #5c342c;
  --text-color-1: #1d1f22;
  --text-focused: #5ece7b;
  --caput-mortuum: #5c332bff;
  --raisin-black: #25282fff;
  --raisin-black-2: #322524ff;
  --caput-mortuum-2: #5c312cff;
  --taupe-gray: #887b7aff;
}

body,
html,
#root {
  margin: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}
